@charset "utf-8";
/* CSS Document */
.fullSlide ul li>div{border:1px solid #e8e8e8; width:898px; height:222px; }
.fullSlide ul li>div .p2 span a{ color:#ea2424;}
.fullSlide ul li>div .p1{ float:left; padding-right:20px;}
.fullSlide ul li>div h3 a{ padding-left:3px; font-size:20px; color:#000; line-height:58px;}
.fullSlide ul li>div h3 a:hover{ color:#5183a6;}
.fullSlide ul li>div .p2{ text-indent:22px; font-size:11px; font-family:"微软雅黑"; color:#aaaaaa; line-height:21px;}
.fullSlide{width:904px;height:224px;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:904px; !important;position:relative;}
.fullSlide .bd li{width:904px; !important;height:224px;overflow:hidden; }
.fullSlide .hd{
	width: 132px;
	position: absolute;
	z-index: 614;
	top: 218px;
	left: 660px;
	height: 30px;
}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;background:#bbbbbb;display:inline-block;*display:inline;zoom:1;width:14px;height:6px;margin:0px 8px 0 0;overflow:hidden;filter:alpha(opacity=50);opacity:0.5; line-height:999px;}
.fullSlide .hd ul .on{background:#008ddb; padding-top:3px;}
.bg {
	width: 100%;
	background: url(../images/b_xwzx.jpg) no-repeat center top;
	height: 215px;
}
.content {
	width: 930px;
	margin: 0 auto;
	position: relative;
	padding: 19px 0 38px 260px;
}
.content .lefttitle {
	position: absolute;
	width: 231px;
	top: -83px;
	left: 0;
	border: 1px solid #ededed;
}
.content .lefttitle h2 {
	text-align: left;
	padding: 17px 0 0 46px;
	height: 65px;
	color: #fff;
	font-size: 28px;
	background: rgba(109,11,161,0.5);
	font-family: "黑体";
	margin-bottom: 10px;
}
.content .lefttitle h2 span {
	font-size: 10px;
	font-family: "微软雅黑";
	height: 10px;
}
.content .lefttitle ul{ background:#fff;}
.content .lefttitle ul li {
	position: relative;
	line-height: 49px;
	height: 49px;
	width: 229px;
	border-bottom: 1px solid #ededed;
}
.content .lefttitle ul li a {
	color: #666666;
	font-size: 16px;
	padding-left: 58px;
	font-weight:bolder;
}
.content .lefttitle ul li p {
	position: absolute;
	left: 29px;
	top: 17px;
	width: 8px;
	height: 8px;
	border-radius: 14px;
	border: 3px solid #dcdcdc;
}
.content .lefttitle ul li:hover p {
	border: 3px solid #f9cb75;
}
.content .maintop{ margin-bottom:8px;}
.content .mainbottom div{ width:432px; float:left;}
.content .mainbottom div h3{ height:46px; line-height:46px; font-size:20px; color:#000; background:url(../images/1243.jpg) no-repeat left center, url(../images/more.gif) no-repeat right center; margin-bottom:7px; padding-left:29px;}
.content .mainbottom div ul li{ height:34px; line-height:34px; background:url(../images/1_15.jpg) no-repeat 4px center;}
.content .mainbottom div ul li a{ padding-left:18px; color:#555555; font-size:14px;}
.content .mainbottom div ul li a:hover{ color:#5388a8;}
.right .sy{ padding-left:14px; margin-bottom:13px; background: url(../images/sy_03.gif) no-repeat left top,url(../images/512.jpg) no-repeat 41px 5px,url(../images/512.jpg) no-repeat 102px 5px;}
.sy a{ color:#666; font-size:12px; padding-right:14px;}
.right .zi{ border:1px solid #e6e6e6; padding:28px 20px 0 20px; background:url(../images/zt_03.jpg) no-repeat 786px 72px;}
.zi h4{ letter-spacing:3px; font-size:18px; color:#000; text-align:center; height:36px; line-height:36px; padding-bottom:5px;}
.zi1{ padding-left:266px; color:#c6c6c6; height:20px; line-height:20px; padding-bottom:10px; border-bottom:1px solid #c6c6c6;}
.zi1 span{ padding-left:150px; height:20px; color:#8b8b8b;}
.zz{ padding-top:15px;}
.zi2{ text-indent:2em; font-size:14px; color:#555; line-height:36px;}
.zi3{ font-size:14px; color:#555; line-height:36px;}


