@charset "utf-8";
/* CSS Document */
.main{ width:1163px; margin:0 auto; background:#fff;}
.main .right h2{ font-size:20px; color:#000; height:35px; line-height:35px; font-family:"微软雅黑";}
.main .right p{ text-indent:2em; font-size:14px; padding-top:9px; color:#555555; height:35px; line-height:35px;}
.zi{ padding-bottom:100px;}