@charset "utf-8";
/* CSS Document */
.nav{ width:900px;}
.nav h2{ padding-left:30px; font-family:"黑体"; font-size:20px; color:#000000;}
.nav ul{padding-left:30px; margin-top:20px;}
.nav ul li{background: url(../images/social/shzp_13.gif) no-repeat left center;}
.nav ul li a{ float:left; display:block; width:650px; 
padding-left:8px; font-size:14px; line-height:35px;color:#555555; }
.nav ul li span{ float:right; width:95px; font-size:14px; line-height:35px;color:#555555;}
.nav p{ padding-bottom:50px; float:right; padding-top:25px; font-size:12px;color:#737574;}
.nav p a{ display:inline-block; height:25px; line-height:25px;font-size:12px;
border:1px solid #d0d0d0; padding-left:5px; padding-right:5px; color:#737574;}
.list a.cur{ background:blue;}