@charset "utf-8";
/* CSS Document */
.institutional{ width:901px; float:right;}
.institutional h2{ height:80px; line-height:90px; font-family:"microsoft yahei"; font-size:20px; color:#000000; padding-top:5px;}
.institutional img{ display:block; margin: 0 72px 129px 104px;}
