@charset "utf-8";
/* CSS Document */
.bgg { background: url(../images/adc.jpg) no-repeat center top; width: 100%; }
.bg { width: 1163px; margin: 0 auto; height: 82px; padding-top: 133px; padding-left: 139px; }
.content { width: 900px; margin: 0 auto; padding: 26px 0 40px 260px; }
.content h3 { height: 38px; line-height: 38px; color: #000; font-size: 18px; }
.content p { line-height: 36px; color: #555555; font-size: 14px; text-indent: 4em; background: url(../images/RSS_03.jpg) repeat-x bottom; padding-bottom: 5px; }
.content ul li { height: 22px; background: url(../images/rss.jpg) no-repeat left center; margin-top: 60px; padding-left: 43px; line-height: 22px; color: #000; font-size: 14px; text-align: right; width: 65px; margin-right: 311px; font-weight: bolder; float: left; }
.bg h2 { width: 180px; height: 65px; color: #fff; font-size: 26px; background: rgba(16,76,132,0.8); padding: 17px 0 0 50px; }
.header { padding: 21px 33px 0 0; width: 1127px; margin: 0 auto; background: url(../images/1_03.png) no-repeat 3px 18px; position: relative; }
.header p:nth-child(2) { position: absolute; height: 22px; top: 21px; right: 33px; }
.header p:nth-child(1) { line-height: 25px; height: 25px; font-size: 11px; color: #870087; padding-left: 720px; }
.header p:nth-child(1) a { display: inline-block; padding-left: 11px; padding-right: 11px; font-size: 12px; color: #000; }
.header input[type="text"] { height: 23px; line-height: 23px; border: 1px solid #ececec; }
.header input[type="text"]:active { border: 1px solid #fff; }
.header input[type="reset"] { border: 0; width: 56px; height: 25px; line-height: 25px; background: #ff343a; color: #ecf6ff; }
.header input[type="reset"]:hover { cursor: pointer; }
.header>ul>li { float: left; width: 83px; text-align: center; line-height: 16px; height: 16px; padding-top: 20px; padding-bottom: 24px; }
.header>ul li a { font-size: 16px; color: #000; }
.header>ul li div ul li a { color: #6a6772; font-size: 14px; padding-left: 12px; }
.header>ul li div ul li { text-align: left; width: 140px; height: 40px; line-height: 40px; border-bottom: 1px dashed #a3a7a8; float: left; margin-right: 10px; }
.header>ul li div { position: absolute; z-index: 5; top: 96px; width: 578px; display: none; border: 1px solid #d0d0d0; border-radius: 5px; }
.header>ul li div ul { width: 300px; padding-left: 12px; padding-bottom: 52px; }
.header>ul li a:hover { color: #9f423a; }
.header>ul li:hover div { display: block; }
.header>ul { float:right; }
.header>ul li div ul li a:hover { color: #538e9e; }
.foot { width: 100%; background: #e4e4e4; }
.footer { z-index: 0; padding: 22px 0 21px 126px; width: 1034px; margin: 0 auto; background: url(../images/1_07.jpg) no-repeat 19px 13px; position: relative; }
.footer p { color: #9b9b9b; font-size: 12px; line-height: 25px; }
.footer .qun { background: #ffffff; border: 1px solid #e7e7e7; width: 710px; position: absolute; bottom: 25px; right: -4px; display: none; }
.footer .qun ul { float: left; }
.footer .qun ul li { line-height: 25px; height: 25px; padding-left: 16px; width: 210px; }
.footer .qun ul li a { color: #766961; font-size: 12px; }
.footer p:nth-child(3) { position: absolute; right: 0; top: 28px; height: 14px; line-height: 14px; }
.footer p:nth-child(3) a { display: inline-block; padding-left: 4px; padding-right: 5px; color: #9b9b9b; font-size: 12px; }
.footer .group { z-index: 3; position: absolute; width: 193px; height: 24px; line-height: 24px; right: 0px; bottom: 13px; background: url(../images/3_03.jpg) no-repeat right center, #f0f0f0; color: #929292; font-size: 12px; padding-left: 15px; }
.footer .group:hover div { display: block; cursor: pointer; }
