@charset "utf-8";
/* CSS Document */
.supervisors{ width:901px; float:right; padding-bottom:2px;}
.supervisors h2{ height:90px; line-height:90px; font-family:"microsoft yahei"; font-size:20px; color:#000000;}
.supervisors ul{ padding:6px 179px 0px 272px;}
.supervisors ul li{ width:135px; margin-right:90px; float:left; margin-bottom:67px;}
.supervisors ul li.first{ float:none; margin-left:109px;}
.supervisors ul li p{ padding-top:13px; line-height:22px; font-size:14px; color:#666666; text-align:center;}
