@charset "utf-8";
/* CSS Document */
.honor_alumina{ width:904px; float:right}
.honor_alumina .top{ margin-top:7px; height:40px; line-height:40px; background:url(../images/img_03.jpg) no-repeat left center;}
.honor_alumina .top a{ display:inline-block; font-family:"Gimson"; font-size:12px; color:#666666; padding-right:4px; padding-left:3px;}
.honor_alumina .top a:first-child{ padding-left:14px;}
.honor_alumina .bottom{ border:1px solid #e6e6e6; margin-bottom:108px;}
.honor_alumina .bottom h2{ width:862px; line-height:46px; font-family:"Gimson"; font-size:20px; color:#444; text-align:center; margin-right:20px; margin-left:20px; padding-top:14px; padding-bottom:5px; border-bottom:1px solid #e6e6e6;}
.honor_alumina .bottom h2 span{ display:inline-block; height:40px; line-height:40px; font-family:"Gimson"; font-size:12px;}
.honor_alumina .bottom h2 span.annotation{ width:752px; color:#c6c6c6;}
.honor_alumina .bottom h2 span.control{ padding-left:14px; color:#8b8b8b; text-align:right; background:url(../images/img_07.jpg) no-repeat left center;}
.honor_alumina .bottom img{ display:block; padding-top:20px; padding-bottom:10px; padding-left:315px;}
