@charset "utf-8";
/* CSS Document */
.nav{ padding-left:11px; width:900px; font-size:14px; color:#666666; background:url(../images/tu.jpg) no-repeat left center;font-family:"黑体";}
.nav a{ color:#666666;}
.wen{ border:1px solid #e6e6e6; margin-top:15px; margin-bottom:80px;}
.wen h2{ text-align:center; line-height:70px; font-size:20px; color:#444444;}
.wen h3{ padding-left:310px; font-size:12px; color:#c6c6c6; height:30px;
 border-bottom:1px solid #e6e6e6;}
.wen h3 span{ background: url(../images/tu_04.gif) no-repeat left center; margin-left:200px; padding-left:20px; color:#666666;}
.wen h3 span a{ color:#666666;}
.wen p{ width:850px; padding-left:25px; line-height:35px; font-size:14px; color:#555555; 
text-indent:2em;}
.wen p:nth-child(3){ padding-top:20px;}
.wen p:nth-child(4){ padding-bottom:10px;}
