@charset "utf-8";
/* CSS Document */
.nav h2{ padding-left:10px; font-size:20px; font-family:"黑体"; color:#000000; padding-bottom:10px;}
.nav ul{ padding-bottom:210px;}
.nav ul li{ padding-left:40px; line-height:36px; font-size:14px; color:#555555;}
.nav ul li a{ color:#000000;}
.nav ul li a:hover{color:#57a7e7;}
