@charset "utf-8";
/* CSS Document */
.nav{ width:820px;position:relative;}
.nav h2{ margin:25px auto 20px auto; font-size:20px; font-family:"黑体"; color:#333333;}
.nav p{position:absolute;left:670px;top:45px;}
.nav p a{display:block;margin-bottom:2px;text-align:center; color:#000; width:130px; height:20px; background:#ccc;}
.nav p a:hover{color:red;}
.nav ul{width:655px; padding-top:40px;}
.nav ul li{ padding-bottom:20px; padding-top:17px; border-bottom:1px dashed #c8c8c8; padding-left:28px; font-size:14px;color:#000000;}
.nav ul li span{ font-family:"黑体"; color:#000;  font-size:12px; padding-right:190px; padding-left:62px;}
.nav ul li a{ text-align:center; float:right; margin-right:22px; width:65px; height:20px;  background:#d11919; font-size:12px; line-height:20px; color:#ffffff;}
.nav ul li a:hover{ color:#000;}
.nav img{ margin-left:25px;}